.companies-item {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.companies-item::before {
    display: block;
    content: "";
    padding-top: 80%;
}

.companies-item.is-video .company-title::before {
    content: "▶";
    color: #ffffff;
    background-color: #6050dc;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin-right: 15px;
}
.companies-item.is-video .company::before {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
    margin: 0 auto;
    height: 100px;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.9)
    );
    content: "";
    z-index: 1;
}
.companies-item.is-video .company:hover::before {
    height: 100%;
    transition: 0.35s height;
}
.companies-item.is-image .company::before {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
    margin: 0 auto;
    height: 0;
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.5)
    );
    content: "";
    z-index: 1;
}
.companies-item.is-image .company:hover::before {
    height: 100%;
    transition: 0.35s height;
}
.companies-item.is-video .company:hover .company-title::before {
    box-shadow: 0px 0px 0px 6px rgb(96, 80, 220, 0.5);
    transition: 0.35s box-shadow;
}
.companies-item.is-image .company::after {
    content: "";
    background: url("../images/search.svg") no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0px;
    background-size: 100%;
    opacity: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.2s ease-in-out;
}
.companies-item.is-image .company:hover::after {
    opacity: 1;
    bottom: 40%;
    transition-delay: 0.2s;
}
.companies-item.is-image .company img {
    transform: scale(1);
    transition: 0.35s ease-in-out transform;
}
.companies-item.is-image .company:hover img {
    transform: scale(1.2);
    transition: 0.35s ease-in-out transform;
}
.company {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.company-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.companies-item .company {
    background-color: rgba(90, 91, 119, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    overflow: hidden;
}
.companies-item.is-video .company {
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
}
.companies-item.is-video h1 {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.6;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.companies-item.is-qoute .company {
    cursor: auto;
}
.companies-item.is-qoute h1 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.6;
    position: relative;
    top: 20px;
}
.companies-item.is-qoute h1::before {
    content: "";
    background: url("../images/left-quote.svg") no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -40px;
    background-size: 100%;
    opacity: 0.2;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.companies-item h1 {
    z-index: 1;
}
/**/
.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
    background-size: 8px !important;
    border-radius: 50% !important;
    background-color: rgba(90, 91, 119, 0.5) !important;
    width: 35px !important;
    height: 35px !important;
    left: auto !important;
    right: 50px !important;
    top: -25px !important;
}
.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
    background-size: 8px !important;
    border-radius: 50% !important;
    background-color: rgba(90, 91, 119, 0.5) !important;
    width: 35px !important;
    height: 35px !important;
    right: 10px !important;
    left: auto !important;
    top: -25px !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(90, 91, 119, 0.8) !important;
    transition: 0.25s background-color;
}
.swiper-container {
    overflow: visible !important;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #6050dc !important;
}
.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: auto !important;
    bottom: 0px !important;
}
